# Security
.env

# Binaries
main
e-wallet-api
*.exe
*.dll
*.so
*.dylib

# IDEs and Editors
.idea/
.vscode/
*.swp
*.swo

# OS Metadata
.DS_Store
Thumbs.db

# Dependencies (Optional if you don't use vendor)
vendor/